<h1>Преподаватели-дисциплины | Изменить</h1>


  <% form_for ([:manage,@newdt]) do |f| %>
    <%= render :partial => 'form',:locals => { :f => f, :but => 'Изменить' } %>
  <% end %>

<p style="color: green"><%= notice %></p>
<%= link_to 'Назад', manage_disciplines_teachers_path %>
<%= render :partial => 'all_dt' %>