<h1>Преподаватели-дисциплины</h1>



<p>
  <% form_for ([:manage,@newdt]) do |f| %>
    <%= render :partial => 'form',:locals => { :f => f, :but => 'Добавить' } %>
  <% end %>
</p>
<p style="color: green"><%= notice %></p>

<%= render :partial => 'manage/shares/search_form',:locals => { :path => manage_disciplines_teachers_path } %>
<%= render :partial => 'all_dt' %>
