
  <table class="tableDisciplines">
    <tr>
      <td>
        <h3 style="text-align: center">Дисциплины кафедры</h3>
      </td>
    </tr>
      <% disc.each do |d| %>
        <tr>
          <td><%= d.name %> </td>
        </tr>
      <%  end %>
    </table>
