<h2 style="text-align: center">Дисциплины кафедры</h2>
  <table class="tableDisciplines">
      <% disc.each do |d| %>
        <tr>
          <td><%= d.name %> </td>
        </tr>
      <%  end %>
    </table>
