    <table class="tableAllTeachers" style="border-bottom: 2px solid black;">
      <tr>
        <td style="text-align: center;">
          <h1>Дипломы студента</h1>
        </td>
      </tr>
      <% dipl.each do |p| %>
        <tr>
          <td><h2><%= p.name %></h2> </td>
        </tr>
        <tr>
          <td><b>Аннотация:</b> <br /><%= p.summary %> </td>
        </tr>
        <tr>
          <td><b>Год защиты:</b> <%= p.protection_year %> </td>
        </tr>
        <tr>
          <td><b>Руководитель:</b> <%= link_to("#{p.teacher.person.last_name} #{p.teacher.person.first_name} #{p.teacher.person.patronymic_name}", teacher_path(p.teacher)) %> </td>
        </tr>

      <%  end %>
    </table>

