<h1>Учёные степени | Изменить</h1>

  <% form_for([:manage,@degree]) do |f| %>
    <%= render :partial => 'form',:locals => { :f => f, :but => 'Изменить' } %>
  <% end %>
<p style="color: green"><%= notice %></p>
<%= link_to 'Назад', manage_degrees_path %>
<%= render :partial => 'all_degrees' %>