<h1>Преподаватели | Добавить</h1>

<p style="color: red"><%= notice %></p>
<% form_for([:manage,@teacher], :html => {:multipart => true })  do |f| %>
 <%= render( :partial => 'form', :locals => {:f => f} ) %>
<% end %>

<%= link_to 'Назад', manage_teachers_path %>