<h1>Контактная информация | Добавить</h1>

<% form_for [:manage,@contact] , :html => {:multipart => true } do |c| %>
  <%= render :partial => 'form', :locals => {:c => c, :contact => @contact, :but => 'Добавить' } %>
<% end %>