body { background-color: #fff; color: #333; }

body {
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
}

/* потолок */
.divtop {
    color: white;
    background: #94ec72;
    text-align: center;
    font-size: 36px;
    font-family: verdana;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 98%;
    line-height: 28px;
    position: relative;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -khtml-border-radius:20px;
}
/* подвал */
.divbot1, .divbot2{
    color: black;
    text-align: center;
    font-family: verdana;
    font-size: 14px;
    font-weight: normal;
    width: 98%;  
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;
}

.divbot1{
    position: relative;
    top: auto;
    
    background: #e2ffce;
    text-align: center;
    color: black;
}

.divbot2{
    position: relative;
    top: auto;
    
    text-align: right;
    background: #d26ec7;
    color: white;
    width: 98%;
    font-style: italic;
    font-family: times-new-romance;
}

.divnavi {
    width: 100%;
    position: absolute;
    top: 80%;
   }

.tablenavi{
    color: black;
    font-size: 14px;
    border: 1px solid;
    border-collapse: collapse;
}

.tablenavi td, .tablenave th{
    border: 1px solid black;
    background-color: #fafc57;
    padding-left: 5px ;
    padding-right: 5px ;
}

.all{
    width: 100%;
    height: 100%;
}

#test{
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -khtml-border-radius:20px;
}

.leftpanel{
    position: relative;
    padding: 15px;
    background-color: #ffc659;
    top: auto;
    width: 50%;
    left: 1%;

    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -khtml-border-radius:20px;
    
}

.rightpanel{
    position: relative;
    padding: 5px;
    background-color: #e8e8e8;
    width: 40%;
    left: 56%;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -khtml-border-radius:20px;
}

.tableAllTeachers{
    text-align: left;
    color: black;
    margin: 5px;
    margin-left: 40px;
    padding: 5px;
}

.tableAllTeachers a{
    text-decoration: none;
    color: black;
    font-family: arial;
    font-size: 16px;
}

.tableNews{
    border: outset 5px;
    border-color: green;
    width: 99%;
}

.NewsTdTop{
    text-align: center;
    font-size: large;
    border-bottom: white solid 1px;
}

.NewsTdBot{
    text-align: right;
    font-size: small;
}

.NewsTdBotLeft{
    text-align: left;
    font-size: small;
}


.header{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
}

.footer{
    position: relative;
    width: 100%;
    height: auto;
}

.main{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 18px;
    margin-bottom: 18px;
}

.tableLinks{
    width: 98%;
    margin: 5px;
    border-collapse: collapse;
}

.tableLinksDescr{
    padding-left: 5px;
    text-align: left;
    border-left: black dotted 1px;
}

.tableLinksUrl{
    width: 30%;
    text-align: left;
}

.tableLinksDescr, .tableLinksUrl{
    border-bottom:  solid black 2px;
    padding: 3px;
}