#fullheight{
    height: 100%;
    width: 100%;
}

html, body{
    height:100%;
}

body{
    background-image: url('/images/bg.png');
    background-size: 100px;
    min-height: 100%;
    position:relative;
}

img{
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -khtml-border-radius:10px;
}

body { background-color: #fff; color: #333; }

body {
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
}

/* потолок */
.divtop {
    color: white;
    background: #94ec72;
    text-align: center;
    font-size: 36px;
    font-family: verdana;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 98%;
    top: 10px;
    line-height: 28px;
    position: relative;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -khtml-border-radius:20px;
}
/* подвал */
.divbot1, .divbot2{
    color: black;
    text-align: center;
    font-family: verdana;
    font-size: 14px;
    font-weight: normal;
    width: 98%;  
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;
}

.divbot1{
    position: relative;
    top: auto;
    
    background: #e2ffce;
    text-align: center;
    color: black;
}

.divbot1 a{
    color: black;
    text-decoration: none;
    border-bottom: 1px dashed;
}

.divbot1 a:hover{
/*    text-decoration: underline;*/
    border-bottom: none;
}

.divbot1 a:visited{
    color: #6b6a49;
}

.divbot2{
    position: relative;
    top: auto;
    
    text-align: right;
    background: #d26ec7;
    color: white;
    width: 98%;
    font-style: italic;
    font-family: times-new-romance;
}

.divnavi {
    width: 600px;
    position: relative;
    background-color: #fafc57;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;
   }

.tablenavi{
    color: black;
    font-size: 14px;
    border-collapse: collapse;
}

.tablenavi td, .tablenavi th{
    color: black;
    padding-left: 5px ;
    padding-right: 5px ;
}

.tablenavi td a{
   color: black;
   text-decoration: none;
   border-bottom: 1px dashed black;
}

.tablenavi td a:hover{
/*   text-decoration: underline;*/
   border-bottom: none;
}

.all{
    width: 100%;
    height: 100%;
}

#test{
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -khtml-border-radius:20px;
}

.leftpanel{
    font-family: "Trebuchet MS", verdana;
    position: relative;
    padding: 15px;
    background-color: #ffc659;
    width: 90%;
    height: inherit;
    margin: 10px;
    margin-top: 20px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -khtml-border-radius:20px;
    
}

.rightpanel{
    font-family: "Trebuchet MS", verdana;
    position: relative;
    padding: 5px;
    background-color: #e8e8e8;
    width: 90%;
    
    margin: 10px;
    margin-top: 50px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -khtml-border-radius:20px;
}

.tableAllTeachers{
    width: 98%;
    color: black;
    margin: 5px;

    padding: 5px;
}

.tableAllTeachers td{
    text-align: left;
}

.tableAllTeachers a{
    text-decoration: none;
    border-bottom: 1px dashed black;
    color: black;
    font-family: arial;
    font-size: 16px;
}

.tableAllTeachers td a:hover{
/*   text-decoration: underline;*/
   border-bottom: none;
}





.tableNews{
    border: outset 2px;
    
    border-color: #d2f5fc;
    width: 99%;
    margin-bottom: 7px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -khtml-border-radius:20px;
}

.NewsTdTop{
    text-align: center;
    font-size: large;
    border-bottom: white solid 1px;
}

.NewsTdBot{
    text-align: right;
    font-size: small;
    padding-right: 10px;
}

.NewsTdBotLeft{
    text-align: left;
    font-size: small;
    padding-left: 10px;
}


.header{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
}

.footer{
    position: relative;
    width: 100%;
    height: auto;
}

.main{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 18px;
    margin-bottom: 18px;
}

.tableLinks{
    width: 98%;
    margin: 5px;
    border-collapse: collapse;
}

.tableLinks a{
    color: black;
    text-decoration: none;
    border-bottom: 1px dashed;
}

.tableLinks a:visited{
    color: #6b6a49;
}
.tableLinks a:hover{
/*    text-decoration: underline;*/
    border-bottom: none;
}
.tableLinksDescr{
    padding-left: 5px;
    text-align: left;
    border-left: black dotted 1px;
}

.tableLinksUrl{
    width: 30%;
    text-align: left;
}

.tableLinksDescr, .tableLinksUrl{
    border-bottom:  solid black 2px;
    padding: 3px;
}

.tdr{
     width: 46%;     
     vertical-align: top;
}

.tdl{
    width: 52%;
    vertical-align: top;
}

.tableDiscipline{
    width: 98%;
    color: black;
    margin: 5px;
    padding: 20px;
}

.tableDiscipline td{
    text-align: center;
}

.TableComment{
    width: 90%;
    border-top-style: solid;
    border-top-width: 2px;
    right: 0px;
/*    margin-left: 80px;*/
}

.divtop a{
    color: white;
    text-decoration: none;
}

.leftpanel p{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-indent: 25px;
}



.divSearch{
    position: relative;
    vertical-align: center;
    background-color: #8ab2fc;
    width: 100%;
    padding: 3px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -khtml-border-radius:5px;


    text-align: center;
    font-size: 12px;
    



    line-height: 0px;


}

.divSearch input{
    margin: 3px 0;
}

.tableSearch{
    width: 100%;
}

.tableSearch th{
    text-align: left;
}

.tableSearch td{
    padding-left: 20px;
}

.tableSearch a{
    text-decoration: none;
    border-bottom: 1px dashed;
    color: black;
}

.tableSearch a:hover{
    text-decoration: none;
    border-bottom: none;
    color: #6b6a49;
}

.tableSearch a:visited{
    color: #6b6a49;
}
.tableGroups{

    margin: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
}

.tableGroups td, .tableGroups th{
    line-height: 50px;
    width: 60px;
}

.tableGroups th{
    width: 100px;
}

.tableGroups a{
    color: black;
    text-decoration: none;
    border-bottom: 1px dashed black;
}
.tableGroups a:hover{
/*   text-decoration: underline;*/
   border-bottom: none;
}

.tableAboutSpeciality{
    color: black;
    margin: 5px;
    padding:5px;
    width: 98%;
}

.tableAboutSpeciality th{
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    width: 50%;
}

.tableAboutSpeciality tr,.tableAboutSpeciality th{
    line-height: 25px;
}

.tableNews img, .tableAllTeachers img{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
}

.tableNews a{
    color: black;
    text-decoration: none;
    border-bottom: 1px dashed black;
}

.tableNews a:hover{
/*    text-decoration: underline;*/
    border-bottom: none;
}


.divbot2 a{
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed white;
}

.divbot2 a:hover{
/*    text-decoration: underline;*/
    border-bottom: none;
}

.divPath{
    text-align: center;
    font-family: trebuhet ms, verdana;
    font-size: 14px;
    position: relative;
    display: inline-block;
    top: 30px;
    left: 40px;
    z-index: 1;
    padding: 5px;
    color: white;
    background-color: #d26ec7;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
}

.divPath a{
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed;
    font-family: trebuhet ms, verdana;
    font-size: 14px;
}

.divPath a:hover{
    text-decoration: none;
    border-bottom: none;
}
.leftpanel h1, .rightpanel h1{
    padding: 2px 0px;
    margin: 10px;
    margin-bottom: 20px;
    color: #000000;
    font: bold arial, sans-serif;
    font-size: 22px;
}

.leftpanel h2, .rightpanel h2{
    padding: 2px 0px;
    margin: 5px;
    color: #000000;
    font: bold arial, sans-serif;
    font-size: 16px;
}

img{
    text-decoration: none;
    border-bottom: none;
}

.tableHistory{

}
.tableHistory a{
    color: black;
    text-decoration: none;
    border-bottom: 1px dashed black;

}

.tableHistory a:hover{
    border-bottom: none;
}