<td class="tdl" align="center">
  <div class="leftpanel" style="text-align: left;">

    <%= render( :partial => 'groups/all_groups' ) %>

  </div>
</td>


<td class="tdr" align="center">
  <div class="rightpanel">
    <%= render(:partial => '/groups/all_specialities',:locals => {:specialities => @specialities}) %>
  </div>
</td>