<h1>Полезные ссылки | Измененить</h1> 

<p>
  <% form_for ([:manage,@link]) do |f| %>
    <%= render :partial => 'form',:locals => { :f => f, :but => 'Изменить' } %>
  <% end %>
</p>
<p style="color: green"><%= notice %></p>
<%= link_to 'Назад', manage_links_path %>

<%= render :partial => 'all_links' %>

