<h1>Полезные ссылки</h1>

<p>
  <% form_for ([:manage,@link]) do |f| %>
    <%= render :partial => 'form',:locals => { :f => f, :but => 'Добавить'  } %>
  <% end %>
</p>

<%= render :partial => 'manage/shares/search_form',:locals => { :path => manage_links_path } %>
<p style="color: green"><%= notice %></p>
<%= render :partial => 'all_links' %>

