<td class="tdl" align="center">
  <div class="leftpanel">
    <table width="98%">
        <tr>
          <td>
          <%= (@history.picture_ext.nil? ) ? () : (image_tag(@history.picture_path, :width => '320px', :align => 'left', :hspace => '5px', :vspace => '5px')) %>
            <p>
            <h2 style="text-align:center;">История кафедры</h2>
            </p>
          <%= Maruku.new(@history.body).to_html %>
          </td>
          
        </tr>
        
    </table>
  </div>
</td>

<td class="tdr" align="center">
  <div class="rightpanel">
    <%= render( :partial => 'news/last_five_news', :locals => {:articles => Article.all(:order => 'priority desc, created_at desc', :limit => 5)} ) %>
  </div>
</td>
