<h1>Histories#index</h1>
<p>Find me in app/views/histories/index.html.erb</p>

<p>
  <%=h @historie.body %>
</p>
<p>
  <%=h @historie.image %>
</p>

<%= link_to 'Изменить', edit_history_path(@historie)  %>