<h1>Histories#index</h1>
<p>Find me in app/views/histories/index.html.erb</p>

<table>
  <tr>
    <td>История:</td>
  </tr>
  <tr>
    <td><%=h @historie.body %></td>
  </tr>
  <tr>
    <td>Изображение:</td>
  </tr>
  <tr>
    <td><%=h @historie.image %></td>
  </tr>
</table>

<%= link_to 'Изменить', edit_history_path(@historie)  %>