
  <table width="98%" style="margin: 10px;">
    <tr>
      <td>
  <% articles.each do |n| %>
<table class="tableNews">
    <tr>
      <td class="NewsTdTop" colspan="2"><%=  n.title %> </td>
    </tr>
    <tr>
      <td colspan="2"><%=  n.body.chars.first(200) %> </td>
    </tr>
    <tr>
      <td class="NewsTdBotLeft"><%= link_to 'Читать полностью', :controller => 'news', :action => 'show', :id => n %> </td>
      <td class="NewsTdBot"><%=  "#{Russian::strftime(n.created_at,'%d %B %Y | %H:%M')}" %> </td>
    </tr>
</table>
  <%  end %>
        </td>
  </tr>
</table>
