<h1>Новости кафедры | Добавить</h1>

<% form_for([:manage,@article], :html => {:multipart => true }) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f, :article => @article } %>
<% end %>

<%= link_to 'Назад', manage_articles_path %>