<div class="leftpanel">
<table class="tableAllTeachers">
  <% @links.each do |l| %>
    <tr>
      <td><%= link_to l.url, url_with_protocol(l.url), :target => :blank %> </td>
      <td><%= l.description %> </td>
    </tr>
  <%  end %>
</table>
</div>
