<td class="tdl" align="center">
  <%= render(:partial => '/page_folder/folder', :locals => {:folder => "#{link_to('Главная','/')} > Полезные ссылки"}) %>
  <div class="leftpanel">
    <h1 style="text-align: center;">Полезные ссылки</h1>
    <table class="tableLinks">
      <% @links.each do |l| %>
        <tr>
          <td class="tableLinksUrl"><%= link_to l.url, url_with_protocol(l.url), :target => :blank %> </td>
          <td class="tableLinksDescr"><%= l.description %> </td>
        </tr>
      <%  end %>
    </table>
  </div>
</td>