<%= f.error_messages %>
<table>
  <tr>
    <th>Полное название:</th>
    <th>Сокращённое название:</th>
  </tr>
  <tr>
    <td><%= f.text_field :name %></td>
    <td><%= f.text_field :short_name %></td>
    <td align="left"><%= f.submit but %></td>
  </tr>
</table>