<h1>Должности | Изменить</h1>

  <% form_for ([:manage,@position]) do |f| %>
    <%= render :partial => 'form',:locals => { :f => f, :but => 'Изменить' } %>
  <% end %>
<p style="color: green"><%= notice %></p>
<%= link_to 'Назад', manage_positions_path %>
<%= render :partial => 'all_positions' %>