<h1>Должности</h1>

  <% form_for ([:manage,@position]) do |f| %>
    <%= render :partial => 'form',:locals => { :f => f, :but => 'Добавить' } %>
  <% end %>
<p style="color: green"><%= notice %></p>
<%= render :partial => 'manage/shares/search_form',:locals => { :path => manage_positions_path } %>
<%= render :partial => 'all_positions' %>