<td class="tdl" align="center">
  <%= render(:partial => '/page_folder/folder', :locals => {:folder => "#{link_to('Главная','/')} > Преподаватели"}) %>
  <div class="leftpanel">
    <%= render(:partial => 'all_teachers',:locals => {:teachers => @teachers}) %>
  </div>
</td>

<td class="tdr" align="center">
  <div class="rightpanel">
    <%= render(:partial => '/disciplines/all_disc', :locals => {:disc => @disciplines}) %>
  </div>
</td>

