<h1>Список специальностей | Новая запись</h1>

<% form_for([:manage,@speciality]) do |f| %>
  <%= render :partial => 'form',:locals => { :f => f, :but => 'Добавить' } %>
<% end %>

<%= link_to 'Назад', manage_specialities_path %>