<h1>Список дисциплин | Измененить</h1>

  <% form_for ([:manage,@discipline]) do |f| %>
    <%= render :partial => 'form',:locals => { :f => f, :but => 'Изменить' } %>
  <% end %>

<p style="color: green"><%= notice %></p>
<%= link_to 'Назад', manage_disciplines_path %>

<%= render :partial => 'all_disciplines' %>