<h1>Список дисциплин</h1>

<% form_for ([:manage,@discipline]) do |f| %>
    <%= render :partial => 'form',:locals => { :f => f, :but => 'Добавить' } %>
  <% end %>

<%= render :partial => 'manage/shares/search_form',:locals => { :path => manage_disciplines_path } %>

<p style="color: green"><%= notice %></p>
<%= render :partial => 'all_disciplines' %>