<h1>Информация о дипломах | Добавить</h1>

<% form_for ([:manage,@diploma]) do |f| %>
  <%= render :partial => 'form',:locals => { :f => f, :but => 'Добавить' } %>
<% end %>
<%= link_to 'Назад', manage_diplomas_path %>