<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>:: система управления сайтом</title>
  <%= stylesheet_link_tag 'manage' %>
</head>
<body style="margin:0pt auto; padding:0pt; text-align:center;">
  <div style="margin:60px auto 20px; min-width:inherit; width: 500px;">
    <div style="background:#fff none repeat scroll 0%; border: 3px solid #aaa; padding:15px 20px 10px; text-align:left;">
      <%= @content_for_layout %>
    </div>
  </div>
</body>
</html>