<h1>История кафедры</h1>

<table>
  <tr>
    <th>История:</th>
  </tr>
  <tr>
    <td><%= Maruku.new(@historie.body).to_html %></td>
  </tr>
  <tr>
    <th>Изображение:</th>
  </tr>
  <tr>
    <td><%= image_tag(@historie.picture_path, :width => '350px') %></td>
  </tr>
</table>

<%= link_to 'Изменить', edit_manage_history_path(@historie)  %>