<h1>История кафедры</h1>

<table>
  <tr>
    <td>История:</td>
  </tr>
  <tr>
    <td><%=h @historie.body %></td>
  </tr>
  <tr>
    <td>Изображение:</td>
  </tr>
  <tr>
    <td><%= image_tag(@historie.picture_path) %></td>
  </tr>
</table>

<%= link_to 'Изменить', edit_manage_history_path(@historie)  %>