<h1>Histories#new</h1>
<p>Find me in app/views/histories/new.html.erb</p>


<% form_for([:manage,@historie]) do |c| %>
  <%= c.error_messages %>

<table>
  <tr>
    <td>История:</td>
  </tr>
  <tr>
    <td><%= c.text_area :body %></td>
  </tr>
  <tr>
    <td>Изображение:</td>
  </tr>
  <tr>
    <td><%= c.text_field :image %></td>
  </tr>
  <tr>
    <td align="right"><%= c.submit 'Записать' %></td>
  </tr>
</table>


<% end %>